/* 
    @kevinkweli
    ===== Google Font Import - Poppins ===== 
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: "url(./resources/assets/img/main-bg.jpeg)";
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container header::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 450px;
    background-color: rgb(255, 255, 255);
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: .3s ease;
}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 10px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;

}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    color: #333;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgb(0 0 0 / 0.25);
}
.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 35px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form button, 
.container form .backBtn{
    font-size: 16px;
    font-weight: 400;
}
form button:hover{
    background-color: #265df2;
}
form button i,
form button .backBtn{
    margin: 0 6px;
}
form b.backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button, .backBtn{
    margin: 0 20px 0 0;

}
form .buttons button {
    bottom: 2rem;
    margin-right: 14px;
}

/* ************ Tailwind CSS ************ */

@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }

}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}